<h3 data-bind="visible: !processInstance().isTerminated()">Actions</h3>
<h3 data-bind="visible: processInstance().isTerminated()">Process has ended</h3>
<span data-bind="text: stateName()"></span>
<span data-bind="text: stateText(), visible: isTypeOf() !== 'end'"></span>

<div data-bind="visible: isTypeOf()==='end'">
	<span>This subject has no further tasks in this process!</span>	
</div>	

<div data-bind="visible: isTypeOf()==='action',foreach: actionData" data-chardin-intro="You can execute the current action clicking this button">
	<div>
		<input class="btn" type="button" data-bind="value: $data.text,click: $parent.action, enable: $parent.serverDone,enable: $data.executeAble"/>
	</div>
</div>

<div data-bind="visible: isTypeOf()==='send',foreach: actionData" data-chardin-intro="Here you can send a message to the another subject.">
	<div>
        <strong>Send:</strong>
        <span data-bind="html: $data.text"></span>
        <span>to </span><br />
        <span data-bind="text: $data.relatedSubject"></span>
        <br /><br />
        <strong data-bind="text: $parent.selectUsersText">User:</strong>

        <select class="chzn-select" data-bind="options: $parent.selectUser, optionsText: 'name', optionsValue: 'id',
            selectedOptions: $parent.selectedUsers,
            optionsCaption: $parent.selectUsersMax() == 1 ? 'Choose...': null,
            attr: {
                multiple: $parent.selectUsersMax() > 1 ? 'multiple' : null
            }" data-placeholder="Choose...">
        </select>
        <br /><br />
        <strong>Nachricht:</strong> <br>
        <input type="text" data-bind="value: $parent.messageText" />
        <br /><br />

        <a href="#googleDriveModal" style="width:130px;" data-bind="click: $parent.refreshGoogleDriveData" class="btn" id="googleDriveButton" data-toggle="modal">
            <i class="icon-cloud icon-large"></i> Choose File
        </a>
        <br>
        <input type="text" placeholder="No file selected" disabled="disabled" class="disabled" data-bind="value: $parent.currentSelectedFile().title" />
        <br /><br />

        <input type="button" value="Send" class="btn" data-bind="click: $parent.send, enable: $parent.serverDone,enable: $data.executeAble" />
	</div>
</div>

<div data-bind="visible: isTypeOf()==='receive',foreach: actionData" data-chardin-intro="You have to wait for a message from the specified subject.">
	<div>
		<strong>Receive from</strong>

		<strong data-bind="html: $data.relatedSubject"></strong>: <br/>
		<span  style="border: 1px solid #bbb;line-height:30px; padding:5px;" data-bind="html: $data.messageContent, visible: $data.messageContent"></span>
		<input class="btn" type="button" value="Received" data-bind="click: $parent.action, enable: $parent.serverDone,enable: $data.executeAble" />
	</div>
</div>

<div id="googleDriveModal" class="modal hide gdrive-modal" tabindex="-1">
	<div class="modal-header">
		<a type="button" class="close pull-right" data-dismiss="modal">x</a>
		<h3>Choose File</h3>
	</div>
	<div class="modal-body">
		<!-- ko if: googleDriveData -->
			<ul class="nav nav-pills nav-stacked drive" data-bind="foreach: googleDriveData">
				<li>
					<a href="#" data-bind="click: $parent.selectFile">
						<img data-bind="attr: { src: iconLink }">
						<span data-bind="text: title"></span>
					</a>
				</li>
			</ul>
		<!-- /ko -->
		<!-- ko ifnot: googleDriveData -->
			<div class="loading">
				<p>
					Loading... Please wait...
					<i class="icon-large icon-refresh icon-spin"></i>
				</p>
			</div>
		<!-- /ko -->
	</div>
</div>
