<div class="header">
</div>

<div id="processContent" class="content flexbox">
    <div id="tab1_content" class="fluid" style="padding: 0;">
        <div id="graph_bv_outer" class="fluid" style="min-width: 1px; height: 75%; padding: 0; overflow:auto;"></div>
        <div id="graph_cv_outer" class="fluid"
             style="min-width: 1px; height: 25%; padding: 0; border-top: 1px solid #ccc; overflow:auto;"></div>
    </div>
    <div id="actions" class="graphsettings">
    </div>
</div>
