* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
    Now here is when interesting things start to appear.

    We set up <body> styles with default font and nice gradient in the background.
    And yes, there is a lot of repetition there because of -prefixes but we don't
    want to leave anybody behind.
*/
body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 740px;
}

/*
    Now let's bring some text styles back ...
*/
b, strong {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

/*
    ... and give links a nice look.
*/
/*
    Now let's style the presentation steps.

    We start with basics to make sure it displays correctly in everywhere ...
*/
.step {
  position: relative;
  width: 900px;
  padding: 40px;
  min-height: 500px;
  margin: 20px auto;
  font-weight: 200;
  font-size: 26px;
  line-height: 1.5;
}

/*
    ... and we enhance the styles for impress.js.

    Basically we remove the margin and make inactive steps a little bit transparent.
*/
.impress-enabled .step {
  margin: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
.impress-enabled .step.inactive-hide, .impress-enabled .step .inactive-hide {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 1s, visibility 0 linear 1s;
  -moz-transition: opacity 1s, visibility 0 linear 1s;
  -ms-transition: opacity 1s, visibility 0 linear 1s;
  -o-transition: opacity 1s, visibility 0 linear 1s;
  transition: opacity 1s, visibility 0 linear 1s;
}
.impress-enabled .step.inactive-dim, .impress-enabled .step .inactive-dim {
  opacity: 0.3;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.impress-enabled .step.active.inactive-hide, .impress-enabled .step.active.inactive-dim, .impress-enabled .step.active .inactive-hide, .impress-enabled .step.active .inactive-dim {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

h1 {
  font-size: 40px;
  font-weight: 200;
  text-align: center;
  color: #e8271b;
  border-bottom: 1px solid #ef6960;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 10px 0 10px 0;
  position: relative;
  z-index: 999999;
}

h2 {
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  color: #bc1d13;
}

h3 {
  font-size: 30px;
  font-weight: 200;
  text-align: center;
}

h4 {
  font-size: 25px;
  font-weight: 200;
  text-align: center;
}

.cleafix {
  *zoom: 1;
}
.cleafix:before, .cleafix:after {
  content: " ";
  display: table;
}
.cleafix:after {
  clear: both;
}

.medium {
  font-weight: 400;
}

.tooltips {
  display: none;
}

.tooltips-top {
  display: none;
  position: fixed;
  top: 71px;
  bottom: 60px;
  width: 15%;
  min-width: 210px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(102, 102, 102, 0.025);
}
.tooltips-top.tooltip-left {
  left: 10px;
}
.tooltips-top.tooltip-right {
  right: 10px;
}
.tooltips-top ul, .tooltips-top ol {
  font-size: 14px;
  line-height: 120%;
  list-style: inherit;
  padding-left: 2em;
  padding-right: 10px;
  margin-top: 1em;
  color: #333;
}
.tooltips-top ol {
  list-style-type: decimal;
}
.tooltips-top ol li {
  margin-bottom: 1em;
}
.tooltips-top h3 {
  color: #a51a11;
  display: block;
  line-height: 40px;
  text-align: center;
  font-size: 25px;
  background-color: rgba(51, 51, 51, 0.1);
  border-bottom: 2px solid rgba(102, 102, 102, 0.1);
}
.tooltips-top #tooltip {
  margin-top: 10px;
  padding: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.navigation {
  font-size: 18px;
  font-weight: 400;
  display: block;
  margin-top: 2em;
  position: fixed;
  bottom: 1.5em;
  z-index: 99999;
}

#next-slide {
  right: 2em;
}

#prev-slide {
  left: 2em;
}

#beginning {
  left: 50%;
  margin-left: -50px;
}

.bordered {
  border-radius: 0.25em;
  border: 2px solid #cccccc;
}

img.bordered {
  border-width: 1px;
}

a.plain {
  color: inherit;
}

a:hover .bordered {
  background-color: rgba(221, 238, 255, 0.5);
}

a:active .bordered {
  box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.3);
}

.inline-block {
  display: inline-block;
}

.pull-left {
  float: left;
}

*[data-tooltip] {
  cursor: help;
}

.arrow {
  position: relative;
}
.arrow .label {
  position: absolute;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
  color: #4d4d4d;
  text-align: center;
}
.arrow .arrow-stem {
  position: absolute;
  border-bottom: 1px solid #999999;
  height: 1;
}
.arrow .arrow-stem, .arrow .label, .arrow .arrow-tip {
  display: inline-block;
}
.arrow .arrow-tip {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #999999;
}

.arrow {
  position: absolute;
  opacity: 0;
}

.step.active .arrow {
  opacity: 1;
  transition: none;
}
.step.active .arrow-1 {
  transition: opacity 0.25s linear 1.5s;
}
.step.active .arrow-2 {
  transition: opacity 0.25s linear 2.16s;
}
.step.active .arrow-3 {
  transition: opacity 0.25s linear 2.82s;
}
.step.active .arrow-4 {
  transition: opacity 0.25s linear 3.48s;
}
.step.active .arrow-5 {
  transition: opacity 0.25s linear 4.14s;
}
.step.active .arrow-6 {
  transition: opacity 0.25s linear 4.8s;
}
.step.active .arrow-7 {
  transition: opacity 0.25s linear 5.46s;
}
.step.active .arrow-8 {
  transition: opacity 0.25s linear 6.12s;
}

#overview {
  height: 700px;
}
#overview p {
  font-size: 18px;
  padding-bottom: 0.5em;
  line-height: 30px;
}
#overview p.lead {
  text-align: center;
  font-weight: 200;
  font-size: 24px;
  color: #444;
  padding-bottom: 1em;
}

#technical .arrow-1 {
  left: -305px;
  top: 25px;
}
#technical .arrow-2 {
  left: -355px;
  top: 305px;
}
#technical .arrow-3 {
  left: -330px;
  top: 303px;
}
#technical .arrow-4 {
  left: -300px;
  top: 304px;
}
#technical .arrow-5 {
  left: 300px;
  top: 210px;
}
#technical .arrow-5 .arrow-tip {
  left: -2px !important;
}
#technical .arrow-5 .arrow-right {
  width: 80px !important;
  top: 110px !important;
  right: -38px !important;
}
#technical .arrow-6 {
  left: 31px;
  top: 96px;
}
#technical .arrow-7 {
  left: 31px;
  top: 137px;
}
#technical .arrow-8 {
  left: 270px;
  top: 228px;
}
#technical .arrow-8 .arrow-tip {
  right: -2px !important;
}
#technical .arrow-8 .arrow-left {
  width: 80px !important;
  top: 27px !important;
  left: -38px !important;
}

#execution .arrow-1 {
  left: 260px;
  top: 345px;
}
#execution .arrow-2 {
  left: 85px;
  top: 390px;
}
#execution .arrow-3 {
  left: -300px;
  top: 480px;
}
#execution .arrow-3 .label {
  width: 120px;
}
#execution .arrow-4 {
  left: -275px;
  top: 485px;
}
#execution .arrow-5 {
  left: -90px;
  top: 345px;
}
#execution .arrow-6 {
  left: -305px;
  top: 230px;
}
#execution .arrow-7 {
  left: 31px;
  top: 137px;
}
#execution .arrow-8 {
  left: 270px;
  top: 228px;
}
#execution .arrow-8 .arrow-tip {
  right: -2px !important;
}
#execution .arrow-8 .arrow-left {
  width: 80px !important;
  top: 27px !important;
  left: -38px !important;
}

#delivery.active .arrow {
  opacity: 1;
  transition: none;
}
#delivery.active .arrow.arrow-1 {
  transition: opacity 0.25s linear 1.5s;
}
#delivery.active .arrow.arrow-2 {
  transition: opacity 0.25s linear 2.5s;
}
#delivery .arrow-1 {
  left: -200px;
  top: 200px;
}
#delivery .arrow-2 {
  left: -200px;
  top: 330px;
}

#hurra {
  color: #ea3d32;
  font-weight: 200;
  text-align: center;
  display: block;
  position: relative;
  padding-right: 115px;
  top: 200px;
  font-size: 25px;
  opacity: 0;
}

.active #hurra {
  opacity: 1;
  padding-right: 110px;
  top: 140px;
  font-size: 125px;
  transition: all 1.5s ease-out 0.5s;
}

a {
  color: #ea3d32;
  text-decoration: none;
  border-radius: 0.2em;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:focus {
  background: white;
}

#staples, #tsp, #grossunternehmen {
  height: 600px;
}
#staples h3, #tsp h3, #grossunternehmen h3 {
  font-size: 30px;
  font-weight: 400;
}
#staples .graphic, #tsp .graphic, #grossunternehmen .graphic {
  width: 50%;
  margin-left: 25%;
}
#staples .demo-image, #tsp .demo-image, #grossunternehmen .demo-image {
  width: 60%;
  margin-left: 20%;
  display: block;
  border-radius: 0.25em;
  border: 2px solid #aaaaaa;
}
#staples .demo-image:hover, #tsp .demo-image:hover, #grossunternehmen .demo-image:hover {
  background-color: rgba(221, 238, 255, 0.5);
}
#staples .demo-image:active, #tsp .demo-image:active, #grossunternehmen .demo-image:active {
  box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.3);
}
#staples .image-placeholder, #tsp .image-placeholder, #grossunternehmen .image-placeholder {
  width: 100%;
  display: inline-block;
  position: relative;
}
#staples .image-placeholder .dummy, #tsp .image-placeholder .dummy, #grossunternehmen .image-placeholder .dummy {
  margin-top: 100%;
}
#staples .image-placeholder img, #tsp .image-placeholder img, #grossunternehmen .image-placeholder img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.small {
  font-size: 85%;
}

.details .column {
  float: left;
  margin-left: 80px;
}
.details .column:first-child {
  margin-left: 0;
}
.details .small {
  font-size: 16px;
}
.details .container {
  text-align: center;
  display: inline-block;
  padding: 5px 10px;
  width: 150px;
  height: 200px;
}
.details .container.container-tall {
  height: 475px;
}
.details .container.container-wide {
  width: 255px;
}
.details .container.container-wide img {
  width: 40%;
}
.details .container img {
  width: 80%;
}

.overlays {
  width: 0;
  height: 0;
  position: absolute;
  left: 410px;
  top: 55px;
}
