<link href="css/main.css" rel="stylesheet" type="text/css" media="all">
<link href="css/datepicker.css" rel="stylesheet" type="text/css" media="all">
<link href="fancybox/jquery.fancybox-1.3.4.css" rel="stylesheet" type="text/css" media="screen" />
<link href="css/freeow.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/chosen.css" rel="stylesheet" type="text/css" media="all" />
<!-- javascript -->
<!-- extern -->
<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.freeow.js"></script>
<script type="text/javascript" src="js/jquery.scrollTo-min.js"></script>
<script type="text/javascript" src="fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript" src="js/knockout-2.1.0.min.js"></script>
<script type="text/javascript" src="js/knockout.mapping-latest.js"></script>

<!-- intern -->
<script type="text/javascript" src="js/custom.js"></script>
<script type="text/javascript" src="db/db.js"></script>
<script type="text/javascript" src="tk_graph/tk_graph.js"></script>
<script type="text/javascript" src="js/daten.js"></script>
<script type="text/javascript" src="js/daten2.js"></script>
<script type="text/javascript" src="js/storage.js"></script>
<script type="text/javascript" src="js/dialog.js"></script>
<script type="text/javascript" src="js/notification.js"></script>
<script type="text/javascript" src="js/keymaster.min.js"></script>
<script type="text/javascript" src="js/shortcuts.js"></script>
<script type="text/javascript" src="js/viewmodel/init.js"></script>
<script type="text/javascript" src="js/utilities.js"></script>

<!-- services -->
<script type="text/javascript" src="js/service/authentication.js"></script>
<script type="text/javascript" src="js/service/debug.js"></script>
<script type="text/javascript" src="js/service/instance.js"></script>
<script type="text/javascript" src="js/service/main.js"></script>
<script type="text/javascript" src="js/service/messages.js"></script>
<script type="text/javascript" src="js/service/process.js"></script>
<script type="text/javascript" src="js/service/role.js"></script>
<script type="text/javascript" src="js/service/user.js"></script>
<script type="text/javascript" src="js/service/home.js"></script>
<script type="text/javascript" src="js/service/menu.js"></script>

<div id="graph_bv_outer" style="overflow:auto; height:700px; width: 700px; float: left;"></div>

<div class="graphmenu">
	<div class="graphsettings">
		<div class="header">
			<span id="graphmenuheader">Subject settings</span>
		</div>
		<br/>
		<label class="warning" id="AssignRoleWarning">You have to assign a role before you can enter a text.</label>
		<br/>
		<label class="graphsectionheader">Text:</label>
		<br/>
		<input id="ge_cv_text" style="width:140px"></input>
		<br/>
		<br/>
		<label class="graphsectionheader">Assigned Role:</label>
		<br/>
		<select id="ge_cv_id" style="width:140px"></select>
		<br/>
		<br/>
		<label class="graphsectionheader">Node functions:</label>
		<br/>
		<input type="button" class="graphmenubutton" onClick="gv_graph.updateNode();" value="Update node" />
		<br/>
		<input type="button" class="graphmenubutton" onClick="gv_graph.deleteNode();" value="Delete node" />
		<br/>
		<input type="button" class="graphmenubutton" onClick="gf_deactivateNode();" value="De-/Activate node" />
		<br/>
		<br/>
		<div class="graphsectionheader" id="subjectType">
			<label class="graphsectionheader">Subject type:</label>
			<br/>
			<input type="radio" class="subjectradiobutton" "ge_cv_type_single" name="ge_cv_type" />
			Single
			<br/>
			<input type="radio" class="subjectradiobutton" id="ge_cv_type_multi" name="ge_cv_type" />
			Multi
			<br/>
			<input type="radio" class="subjectradiobutton" id="ge_cv_type_external" name="ge_cv_type" />
			External
			<br/>
		</div>

		<br/>
		<br/>
		<input type="button" class="graphmenubutton" onclick="SBPM.Dialog.YesNo('Warning', 'Do you really want to clear the graph?', function(){gv_graph.clearGraph();parent.$.fancybox.close();});" value="Clear graph" />
		<br/>
		<br/>

	</div>
	<br/>
	<div class="nodesettings">
		<div class="header">
			<span id="graphmenuheader">Edge settings</span>
		</div>
		<br/>
		<label class="graphsectionheader">Text:</label>
		<br/>
		<input id="ge_edge_text" style="width: 140px;"></input>
		<br/>
		<br/>
		<label class="graphsectionheader">Related Subject:</label>
		<br/>
		<select id="ge_edge_target" style="width: 140px;"></select>
		<br/>
		<br/>
		<input type="button" class="graphmenubutton" onClick="gv_graph.updateEdge();" value="Update edge" />
		<br/>
		<input type="button" class="graphmenubutton" onClick="gv_graph.deleteEdge();" value="Remove edge" />
		<br/>
		<input type="button" class="graphmenubutton" onClick="gf_deactivateEdge();" value="De-/Activate edge" />
		<br/>
		<br/>
	</div>
</div>

