@import 'bourbon';
@import './reset';
@import './impress';

$red: #ea3d32;

h1 {
  font-size: 40px;
  font-weight: 200;
  text-align: center;
  color: darken($red, 5%);
  border-bottom: 1px solid lighten($red, 10%) ;
  background-color: rgba(#fff, 0.75);
  padding: 10px 0 10px 0;
  position: relative;
  z-index: 999999;
}

h2 {
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  color: darken($red, 15%);
}

h3 {
  font-size: 30px;
  font-weight: 200;
  text-align: center;
}

h4 {
  font-size: 25px;
  font-weight: 200;
  text-align: center;
}

.cleafix {
  @include clearfix;
}

.medium {
  font-weight: 400;
}

.tooltips {
  display: none;
}

.tooltips-top {
  display: none;
  position: fixed;
  top: 71px;
  bottom: 60px;
  width: 15%;
  min-width: 210px;
  border: 1px solid rgba(#000, 0.1);
  background-color: rgba(#666, 0.025);

  &.tooltip-left {
    left: 10px;
  }
  &.tooltip-right {
    right: 10px;
  }

  ul, ol {
    font-size: 14px;
    line-height: 120%;
    list-style: inherit;
    padding-left: 2em;
    padding-right: 10px;
    margin-top: 1em;
    color: #333;
  }

  ol {
    list-style-type: decimal;

    li {
      margin-bottom: 1em;
    }
  }

  h3 {
    color: darken($red, 20%);
    display: block;
    line-height: 40px;
    text-align: center;
    font-size: 25px;
    background-color: rgba(#333, 0.1);
    border-bottom: 2px solid rgba(#666, 0.1);
  }

  #tooltip {
    margin-top: 10px;
    padding: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}

.navigation {
  font-size: 18px;
  font-weight: 400;
  display: block;
  margin-top: 2em;
  position: fixed;
  bottom: 1.5em;
  z-index: 99999;
}

#next-slide {
  right: 2em;
}

#prev-slide {
  left: 2em;
}

#beginning {
  left: 50%;
  margin-left: -50px;
}

.bordered {
  border-radius: 0.25em;
  border: 2px solid #ccc;
}

img.bordered {
  border-width: 1px;
}

a.plain {
  color: inherit;
}

a:hover .bordered {
  background-color: rgba(#DEF, 0.5);
}
a:active .bordered {
  @include box-shadow(inset 0px 0px 7px rgba(0, 0, 0, 0.3));
}

.inline-block {
  display: inline-block;
}

.pull-left {
  float: left;
}

*[data-tooltip] {
  cursor: help;
}

.arrow {
  $arrow-color: #999;
  position: relative;

  .label {
    position: absolute;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 400;
    color: darken($arrow-color, 30%);
    text-align: center;
  }
  .arrow-stem {
    position: absolute;
    border-bottom: 1px solid $arrow-color;
    height: 1
  }

  .arrow-stem, .label, .arrow-tip {
    display: inline-block;
  }
  .arrow-tip {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid $arrow-color;
  }
}

.arrow {
  position: absolute;
  opacity: 0;
}

.step.active {
  .arrow {
    opacity: 1;
    transition: none;
  }

  $step: 0.66s;
  $delay: 1.5s;

  .arrow-1 {
    transition: opacity 0.25s linear ($delay + 0 * $step);
  }
  .arrow-2 {
    transition: opacity 0.25s linear ($delay + 1 * $step);
  }
  .arrow-3 {
    transition: opacity 0.25s linear ($delay + 2 * $step);
  }
  .arrow-4 {
    transition: opacity 0.25s linear ($delay + 3 * $step);
  }
  .arrow-5 {
    transition: opacity 0.25s linear ($delay + 4 * $step);
  }
  .arrow-6 {
    transition: opacity 0.25s linear ($delay + 5 * $step);
  }
  .arrow-7 {
    transition: opacity 0.25s linear ($delay + 6 * $step);
  }
  .arrow-8 {
    transition: opacity 0.25s linear ($delay + 7 * $step);
  }
}

#overview {
  height: 700px;

  p {
    font-size: 18px;
    padding-bottom: 0.5em;
    line-height: 30px;
  }

  p.lead {
    text-align: center;
    font-weight: 200;
    font-size: 24px;
    color: #444;
    padding-bottom: 1em;
  }
}

#technical {
  .arrow-1 {
    left: -305px;
    top: 25px;
  }
  .arrow-2 {
    left: -355px;
    top: 305px;
  }
  .arrow-3 {
    left: -330px;
    top: 303px;
  }
  .arrow-4 {
    left: -300px;
    top: 304px;
  }
  .arrow-5 {
    left: 300px;
    top: 210px;

    .arrow-tip {
      left: -2px !important;
    }
    .arrow-right{
      width: 80px !important;
      top: 110px !important;
      right: -38px !important;
    }
  }
  .arrow-6 {
    left: 31px;
    top: 96px;
  }
  .arrow-7 {
    left: 31px;
    top: 137px;
  }
  .arrow-8 {
    left: 270px;
    top: 228px;

    .arrow-tip {
      right: -2px !important;
    }
    .arrow-left {
      width: 80px !important;
      top: 27px !important;
      left: -38px !important;
    }
  }
}

#execution {
  .arrow-1 {
    left: 260px;
    top: 345px;
  }
  .arrow-2 {
    left: 85px;
    top: 390px;
  }
  .arrow-3 {
    left: -300px;
    top: 480px;
    .label {
      width: 120px;
    }
  }
  .arrow-4 {
    left: -275px;
    top: 485px;
  }
  .arrow-5 {
    left: -90px;
    top: 345px;
  }
  .arrow-6 {
    left: -305px;
    top: 230px;
  }
  .arrow-7 {
    left: 31px;
    top: 137px;
  }
  .arrow-8 {
    left: 270px;
    top: 228px;

    .arrow-tip {
      right: -2px !important;
    }
    .arrow-left {
      width: 80px !important;
      top: 27px !important;
      left: -38px !important;
    }
  }
}

#delivery {
  $step: 1s;
  $delay: 1.5s;

  &.active {

    .arrow {
      opacity: 1;
      transition: none;
    }

    .arrow.arrow-1 {
      transition: opacity 0.25s linear ($delay + 0 * $step);
    }
    .arrow.arrow-2 {
      transition: opacity 0.25s linear ($delay + 1 * $step);
    }

  }

  .arrow-1 {
    left: -200px;
    top: 200px;
  }
  .arrow-2 {
    left: -200px;
    top: 330px;
  }

}

#hurra {
  color: $red;
  font-weight: 200;
  text-align: center;
  display: block;
  position: relative;
  padding-right: 115px;
  top: 200px;
  font-size: 25px;
  opacity: 0;
}

.active {
  #hurra {
    opacity: 1;
    padding-right: 110px;
    top: 140px;
    font-size: 125px;
    transition: all 1.5s ease-out 0.5s;
  }
}

a {
  color: $red;
  text-decoration: none;
  border-radius: 0.2em;

  @include transition( 0.5s );

  &:hover, &:focus {
    background: rgba(255,255,255,1);
  }
}


#staples, #tsp, #grossunternehmen {
  height: 600px;

  h3 {
    font-size: 30px;
    font-weight: 400;
  }

  .graphic {
    width: 50%;
    margin-left: 25%;
  }

  .demo-image {
    width: 60%;
    margin-left: 20%;
    display: block;
    border-radius: 0.25em;
    border: 2px solid #AAA;

    &:hover {
      background-color: rgba(#DEF, 0.5);
    }

    &:active {
      @include box-shadow(inset 0px 0px 7px rgba(0, 0, 0, 0.3));
    }
  }

  .image-placeholder {
    width: 100%;
    display: inline-block;
    position: relative;

    .dummy {
      margin-top: 100%;
    }

    img {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.small {
  font-size: 85%;
}

.details {
  .column {
    float: left;
    margin-left: 80px;

    &:first-child {
      margin-left: 0;
    }
  }

  .small {
    font-size: 16px;
  }

  .container {
    text-align: center;
    display: inline-block;
    padding: 5px 10px;
    width: 150px;
    height: 200px;

    &.container-tall {
      height: 475px;
    }

    &.container-wide {
      width: 255px;

      img {
        width: 40%;
      }
    }

    img {
      width: 80%;
    }
  }
}

.overlays {
  width: 0;
  height: 0;
  position: absolute;
  left: 410px;
  top: 55px;
}
