/*
 * S-BPM Groupware v1.2
 *
 * http://www.tk.informatik.tu-darmstadt.de/
 *
 * Copyright 2013 Telecooperation Group @ TU Darmstadt
 * Contact: Stephan.Borgert@cs.tu-darmstadt.de
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/.
 */

@import 'variables';
@import "bootstrap/mixins";

// Do not display error lists in forms until the form is marked as erroneous.
form ul.errors {
  display: none;
}
form .error ul.errors {
  display: block;
  color: $errorText;
}

.error .errors {
  padding-top: 0.25em;
  display: block;
  color: $errorText;
}

input[type=submit], input[type=button] {
	background: url(../images/bg_button_tab.png);
	background-repeat: repeat-x;
	border: 1px solid #999;
	font-weight: bold;
	@include border-radius(5px);
	@include box-shadow(0 1px 2px #444);
	color: #333;
}
input[type=button].right_switch {
	@include border-radius(0 5px 5px 0);
	background: url(../images/bg_button_tab.png) repeat-x;
	font-weight: bold;
	margin: 0;
	height: 30px;
	border: 1px solid #AAA9A9;
	@include box-shadow(0 1px 1px #fff);
	text-shadow: 1px 0 0 #fff;
	color: #494949;
	font-size: 12px;
}
input[type=button].left_switch {
	@include border-radius(5px 0 0 5px);
	background: url(../images/bg_button_tab.png) repeat-x;
	font-weight: bold;
	margin-top: 0;
	height: 30px;
	border: 1px solid #AAA9A9;
	@include box-shadow(0 1px 1px #fff);
	text-shadow: 1px 0 0 #fff;
	color: #494949;
	font-size: 12px;
}
input[type=select].middle_switch {
	@include border-radius(0);
	background: url(../images/bg_button_tab.png) repeat-x;
	font-weight: bold;
	margin: 0;
	height: 30px;
	border: 1px solid #AAA9A9;
	@include box-shadow(0 1px 1px #fff);
	text-shadow: 1px 0 0 #fff;
	color: #494949;
	font-size: 12px;
}
input[type=submit]:hover, input[type=button]:hover, input[type=button].right_switch:hover, input[type=button].left_switch:hover, input[type=button].middle_switch:hover {
	border: 1px solid #666;
}
input[type=submit]:active, input[type=button]:active, input[type=button].right_switch:active, input[type=button].left_switch:active, input[type=button].right_switch.active, input[type=button].left_switch.active, input[type=button].middle_switch:active, input[type=button].middle_switch.active {
	color: #606060;
	border: 1px solid #999;
	background: url(../images/bg_tab_over.png) repeat-x;
	text-shadow: 0 0 0 #999;
}

input[type="radio"], input[type="checkbox"] {
	margin: 1px 0 0;
}
