/*
 * S-BPM Groupware v1.2
 *
 * http://www.tk.informatik.tu-darmstadt.de/
 *
 * Copyright 2012 Johannes Decher, Telecooperation Group @ TU Darmstadt
 * Contact: Stephan.Borgert@cs.tu-darmstadt.de
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/.
 */

@import "variables";
@import "bootstrap";

@import "flexbox";
@import "calc";

@import "forms";
@import "chardinjs";
@import "chardinjs-behavior";
@import "introjs";

.flexbox {
  @include display-box;

  [class*="span"] {
    float: none;
  }

}

.fluid {
  @include box-flex(1);
}

body, html, .content_wrapper{
  height: 100%;
}

#headAndLeft {
  @include display-box;
  min-width: 1px;
  @include calc(height, "100% - 50px");
}

body {
  color: #363636;
  font-size: 12px;
  // text-shadow: 0 1px 0 #fff;
  background-color: #f7f7f7;
}
body.no-menu {
  background-image: none;
}
body.login {
  margin: auto;
  padding: auto;
  background: #262B32 url("../images/bg.png") repeat-x 0 350px;
  font-family: Arial;
  font-size: 12px;
  color: #363636;
  text-shadow: 0 1px 0 #ccc;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  margin-bottom: 10px;
}

h1 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 0px;
  font-family: Helvetica;
  color: #F1F1F1
}
h2 {
  font-size: 20px;
  font-family: Verdana;
  color: #4B4F5D;
}
h3 {
  font-size: 18px;
  color: #4B4F5D;
}
h4 {
  font-size: 14px;
  color: #4B4F5D;
}

#login_wrapper {
  width: 100%;
  height: 400px;
  margin-top: 200px;
}
#login_top_window {
  margin: auto;
  padding: auto;
  width: 351px;
  height: 30px;
}
#login_body_window {
  margin: auto;
  padding: auto;
  width: 351px;
  height: 240px;
  background: transparent url('../images/bg_login_window.png') no-repeat top;
}
#login_body_window .inner {
	margin: auto;
	padding: auto;
	width: 300px;
	height: 235px;
	padding-top: 10px;
}
#login_body_window .inner p {
	margin-top: 30px;
}
#login_footer_window {
	margin: auto;
	padding: auto;
	width: 351px;
	height: 30px;
}
#login_reflect {
	margin: auto;
	padding: auto;
	margin-top: 3px;
	width: 350px;
	height: 107px;
}

#shortcut li {
	display: block;
	float: left;
	margin: 0 20px 20px 0;
	text-align: center;
}
#shortcut li a {
	display: block;
	width: 50px;
	padding: 10px 15px 10px 15px;
	background: #fff;
  @include border-radius(5px);
	border: 1px solid #cdcdcd;
	color: #4c535b;
	text-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 2px 2px #fff;
	-webkit-box-shadow: 0 2px 2px #fff;
	box-shadow: 0 2px 2px #fff;
}
#shortcut li a:hover {
	background: #eaeced
}
#shortcut li a:active, #shortcut li a.active {
	background: #C6CACB
}
#shortcut li a img {
	margin-bottom: 5px;
}

#content_wrapper {
	width: 100%;
	text-align: left;
}

#quick_table {
  form {
    input, select {
      margin-right: 5px;
    }
  }
}

#header {
	width: 100%;
	min-width: 960px;
	height: 50px;
	background: url(../images/bg_header.png);
	background-repeat: repeat-x;
	text-shadow: 1px 0 0 #666;
	color: #ccc;
}
#header a {
	color: #F1F1F1;
	text-decoration: none;
	text-shadow: 0 0 0 transparent;
	font-weight: bold
}
#header a:hover {
	color: #D1D1D1;
	text-decoration: none;
	text-shadow: 0 0 0 transparent;
}
#header a:active {
	color: #000;
	text-decoration: none;
	text-shadow: 0 0 0 transparent;
}
#logo {
	width: 290px;
	float: left;
	margin: 8px 0 0 20px;
}
#account_info {
	// width: 450px;
	float: left;
	text-align: left;
	margin: 16px 35px 0 0;
}
#misc {
	width: 550px;
	height: 40px;
	margin: 5px 0px 0 0;
	padding: 0px 0px 0 0px;
	float: right;
}
#misc #menu {
	margin: 16px 35px 0 0;
	float: left;
}
#misc #img {
	width: 160px;
	float: right;
}

// a {
//   color: #1F92FF;
//   text-decoration: none;
//   text-shadow: 0 0 0 transparent;
// }
// a:hover {
//   color: #2F4E85;
//   text-decoration: none;
//   text-shadow: 0 0 0 transparent;
// }
a:active {
	color: #000;
	text-decoration: none;
	text-shadow: 0 0 0 transparent;
}
.clear {
	clear: both;
}
.show {
	display: block;
}

#left_menu {
	width: 210px;
  background-color: #ebebeb;
  border-right: 1px solid #bcbcbc;

  a {
    text-decoration: none;
  }
}

.process-empty {
  width: 100%;
  padding: 20px 10px;
  padding-right: 50px;
  font-size: 14px;
  line-height: 22px;
  color: #333;
  box-sizing: border-box;

  .lead {
    font-weight: 200;
    font-size: 160x;
    color: #666;
  }
}

#main_menu {
  @include box-sizing(border-box);
	margin: 0;
	padding: 0;
  width: 100%;
	list-style: none;

  li {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc;
    display: block;

    &.active {
      height: auto;
    }
    &.end {
      border-top: 1px solid #fff;
      border-bottom: 0;
      height: 1px;
    }

    a {
      display: block;
      padding: 10px 20px 12px 30px;
      color: #4b4f5d;
      font-weight: bold;
      text-shadow: 0 1px 0 #fff;

      &:hover {
        background: #DADADA;
      }

      img {
        vertical-align: middle;
        margin-right: 15px;
        border: 0;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      padding: 10px 0 10px 0;
      margin-bottom: 10px;
      float: left;
      display: block;
      width: 100%;
      background: #bfc6cf;
      border-top: 2px solid #999;
      border-bottom: 1px solid #fff;
      display: none;
      overflow: hidden;

      li {
        border: 0;
        a {
          text-shadow: 0 1px 0 #DBDBDB;

          &:hover {
            background: #b1b8c1;
            text-shadow: 0 1px 0 #DBDBDB;
          }

        }

        ul {
          background: #b0b9c4;
          border-bottom: 1px solid #EAECED;
          display: block;
          li {
            display: block;
            a {
              text-shadow: 0 1px 0 #DBDBDB;
              cursor: pointer;

              &:hover {
                background: #a2acb9;
                text-shadow: 0 1px 0 #DBDBDB;
              }
            }
          }
        }
      }
    }
  }
}

a#hide_menu {
	display: block;
	padding: 5px 10px 5px 30px;
	text-align: right;
	font-size: 14px;
	color: #4b4f5d;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	cursor: w-resize;

  &:hover {
    background: #ccc;
  }
}

a#show_menu {
  display: none;
  margin: 10px 5px 5px 10px;
  padding: 5px 10px 5px 10px;
  border: 1px solid #CCC;
  position: relative;
  background: #EBEBEB;
  @include border-radius(3px);
  color: #4B4F5D;
  font-weight: bold;
  cursor: e-resize;
  float: left;

  &:hover {
    background: #ccc;
  }
}

#main {
  @include box-flex(1);
  @include box-sizing(border-box);
  min-width: 1px;
  height: 100%;
  min-width: 1px;
  padding: 15px 7px 7px 15px;
  overflow: auto;

  > .inner {
    height: 100%;
  }
}
#content .inner {
	float: left;
  height: 100%;
}
.onecolumn {
	background: #fff;
	border: 1px solid #cdcdcd;
	margin: 0;
  @include border-radius(5px);
  @include box-shadow(0 1px 2px #ccc);

  .content {
    background: url(../images/bg_ip.png) repeat-x;
    @include border-radius(5px);
    border-top: 0px solid #bdbdbd;
    padding: 15px;
  }

  .header {
    span {
      // float: left;
      cursor: n-resize;
    }
  }
}

.twocolumn {
  width: 100%;
  margin: 5px 0 20px 0;
}
.column_left, .column_right {
  width: 49%;
  background: #fff;
  border: 1px solid #cdcdcd;
  @include border-radius(5px);
  @include box-shadow(0 1px 4px #ccc);
  box-shadow: 0 1px 2px #ccc;
  float: left;
}
.column_right {
  float: right;
}
.column_left .header, .column_right .header {
  margin: 0;
  padding: 0;
  float: left;
  background: url(../images/bg_window_header.png) repeat-x;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #ccc;
  @include border-radius(5px 5px 0 0);
}
.column_left .header span, .column_right .header span {
  display: block;
  font-size: 13px;
  font-weight: bold;
  padding: 12px 0 0 15px;
  float: left;
  width: auto;
  cursor: n-resize;
}
.column_left .content, .column_right .content {
  background: url(../images/bg_ip.png) repeat-x;
  @include border-radius(0 0 5px 5px);
  border-top: 0px solid #bdbdbd;
  padding-bottom: 10px;
  padding: 25px 15px 15px 15px;
}
.twocolumninfo {
  width: 100%;
  margin: 20px 0 20px 0;
}
.column_left2, .column_right2 {
  width: 33%;
  background: #fff;
  float: left
}
.column_right2 {
  float: right;
}
table.data caption {
  display: none;
}
table.data tr {
  background: #f7f7f7;
}
table.data tr td, table.data tr th {
  border-bottom: 1px solid #ccc;
}
table.data tr th {
  font-weight: bold;
  background: #eee;
}
table.data tr th, table.data tr td {
  padding: 7px;
}
table.data tr td {
  color: #666;
}
table.data2 caption {
  display: none;
}
table.data2 tr {
  background: #f7f7f7;
}
table.data2 tr td, table.data2 tr th {
  border-bottom: 1px solid #ccc;
}
table.data2 tr th {
  font-weight: bold;
  background: #eee;
}
table.data2 tr th, table.data2 tr td {
  padding: 9px;
}
table.data2 tr td {
  color: #666;
}

#dialog-header {
	background: #353c42 url(../images/bg_header.png);
  background-repeat: repeat-x;
	width: 100%;
	height: 50px;
	margin: 0;
	padding: 0;
}
#dialog-logo {
	width: 240px;
	float: left;
	margin: 15px 0 0 10px;

  h1, h2, h3, h4, h5 {
    color: #eee;
    text-shadow: 1px 0 0 #444;
    font-weight: normal;
  }
}
#dialog-buttons input {
	margin-right: 10px;
}

.warning {
	color: #CD0A0A;
}

.chzn-results li {
	text-shadow: none;
}

.graphsettings {
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;
  padding: 5px 10px;
	width: 170px;
  max-height: 100%;
  text-shadow: 0 1px 0 #eee;
	background: #e6e6e6;
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #ccc;
  @include border-radius(0 0 5px 0);

  .chzn-container-multi {
    height: auto;
    width: 100%;
  }

  .chzn-container .chzn-results li {
    text-shadow: none;
  }

  legend {
    font-size: 17px;
    border-color: #ccc;
  }

  fieldset {
    &.hidden {
      margin-bottom: $baseLineHeight;
      text-align: center;

      legend {
        margin-bottom: 0px;
        text-align: left;
        border-bottom: none;
      }
      &:before {
        display: inline;
        content: "…";
      }
      .processSettingsTrigger {
        cursor: s-resize;
      }
      .toggle-able {
        display: none;
      }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: inherit;
    text-align: center;
  }

  h3 {
    font-size: 17px;
    font-weight: normal;
    text-shadow: inherit;
  }
  h4 {
    font-size: 15px;
    font-weight: normal;
    text-shadow: inherit;
  }

  p {
    text-align: center;
  }

  .action {
    background-color: #EEE;
    padding: 5px;
    border: 1px solid #CFCFCF;
    @include border-radius(4px);

    p {
      text-align: left;
    }
  }

  label {
    line-height: 18px;
    margin-top: 5px;
    margin-bottom: 3px;
  }

  textarea, input[type="text"], input[type="password"], input[type="datetime"],
  input[type="datetime-local"], input[type="date"], input[type="month"],
  input[type="time"], input[type="week"], input[type="number"],
  input[type="email"], input[type="url"], input[type="search"],
  input[type="tel"], input[type="color"], .uneditable-input {
    width: 141px;
  }

  select {
    width: 155px;
  }

  input[type="button"] {
    @include box-sizing(border-box);
    width: 155px;
    display: block;
    margin-bottom: $baseLineHeight / 2;
    font-size: 12px;
  }
}

#saveProcessAs {
  &.hidden {
    display: none;
  }

  input[type="button"] {
    margin-right: 5px;
    width: 75px;
    float: left;
  }
}

.nodesettings {
	background: #D1D1D1;
	float: none;
	border: #363636;
	border-style: solid;
	border-width: 1px;
}

#graphmenuheader {
	font-size: 14px;
	font-weight: bold;
}

.graphsectionheader {
	text-align: left;
	font-weight: bold;
	margin-top: 3px;
}

#graphmenudivide {
	border-bottom-style: dotted;
	border-top-style: dotted;
	border-color: #000000;
}

.subjectradiobutton {
	text-align: left;
}

#graph {
  @include calc(height, "100% - 80px");

  .onecolumn {
    height: 100%;
  }
}

#processContent {
  position: relative;
  @include calc(height, "100% - 36px");
}

#processHelpButtons {
  @include clearfix();

  padding: 0;
  margin: 0;
  margin-top: 1px;

  .btn {
    @include border-radius(13px);
    width: 25px;
    height: 25px;
    line-height: 25px;
    padding: 0;
  }
}

#graphZoombuttons {
  z-index: 100;
  position: absolute;
  top: 5px;
  left: 10px;
  text-align: center;

  li {
    padding: 5px 0;
    a {
      @include border-radius(8px);
      @include box-shadow(0 0 2px rgba(0, 0, 0, 0.2));
      display: inline-block;
      background-color: #EEE;
      border: 1px solid #ccc;
      color: #333;
      width: 16px;
      line-height: 16px;

      &:hover {
        cursor: pointer;
      }

      &:last-child {
        line-height: 14px;
        padding-bottom: 2px;
      }
    }
  }
}

.readonly {
	border: 0;
	background-color: inherit;
}


.processSettingsTrigger {
  float: right;
  font-size: 11px;
  cursor: n-resize;
  text-decoration: underline;
}

#contentHead {
  h3 {
    line-height: 24px;
  }
}

.tab_content {
  @include display-box;
  min-width: 1px;
  height: 100%;
}

#processHistory {
	margin-left: 10px;
  height: calc(100% - 36px);
}


// Administration
#adminContainer {
  @include display-box;
  @include calc(min-height, "100% - 45px");
  min-width: 1px;
  background-color: #fff;
  @include border-radius(5px);
  border: 1px solid #cdcdcd;
  @include box-shadow(0 1px 2px #ccc);

  .left {
    width: 120px;
    background-color: #ebebeb;
    padding-top: 1em;
    border-right: 1px solid #bbb;

    ul {
      padding: 0;
    }
    li {
      line-height: 25px;
      padding: 0 15px;

      a {
        color: #111;
        text-shadow: none
      }

      a:hover {
        background-color: #f9f9f9;
      }
      &.active {
        a:hover {
          background-color: $linkColor;
        }
        a {
          color: #FFFFFF;
        }
      }
    }


  }

  .right {
    @include box-flex(1);
    margin: 10px;

    .inline {
      height: 23px;
      line-height: 23px;
      vertical-align: 10px;
    }

    input.inline {
      margin: 0;
    }

    ul.chzn-choices {
      @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
      @include transition(border linear 0.2s, box-shadow linear 0.2s);
      @include border-radius(4px);
      height: 16px;
      color: #555;

    }

    .chzn-container-active {
      ul.chzn-choices {
        @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(143, 178, 222, 0.6));
        border-color: rgba(143, 178, 222, 0.8);
        outline: 0;
      }
    }

    .button {
      height: 30px;
      line-height: 15px;
      vertical-align: 11px;
      margin: 0 5px;
    }

    select {
      width: 300px;
    }
  }
}


// Process Execution view

#processExecution {
  ul.nav.nav-tabs {
    border-bottom: 0;
    margin-bottom: 0;

    li {
      display: block;
      padding: 0;
      margin-right: 5px;
      @include border-radius(5px 5px 0 0);

      a {
        padding: 8px 25px;
        margin: 0;
        @include border-radius(5px 5px 0 0);

        &:hover {
          border-bottom: 1px solid #ccc;
        }
      }

      &.active {
        position: relative;
        top: 2px;
        height: 29px;
        border: 1px solid #ccc;
        border-bottom: none;

        @include box-shadow(0 0 3px #ccc);

        a {
          height: 15px;
          @include gradient-vertical(#fff, #f8f8f8);
          border: none;
        }
      }
    }
  }
}

#executionContent {
  @include calc(height, "100% - 120px");
  background-color: #fff;
  @include border-radius(5px);
  border: 1px solid #cdcdcd;
  @include box-shadow(0 0 3px #ccc);

  &.first-tab-selected {
    @include border-radius(0 5px 5px 5px);
  }

  .content {
    padding: 5px;
    @include calc(height, "100% - 36px");

    &.flexbox {
      padding: 0;
    }

    .fluid {
      display: block;
      @include box-flex(1);
      @include box-sizing(border-box);
      height: 100%;
      padding: 5px;
      min-width: 1px;
    }
  }
}

.header {
  height: 30px;
  padding: 3px 5px;
  @include gradient-vertical(#f8f8f8, #e6e6e6);
  @include border-radius(5px 5px 0 0);
  @include box-shadow(inset 0 1px 1px #fff);
  border-bottom: 1px solid #ccc;

  .btn {
    padding: 7px 15px;
    text-shadow: 0 1px 0 white;

    &:hover, &:active, &.active {
      text-shadow: none;
    }
    &:active, &.active {
      background-color: #ddd;
      background-image: none;
    }
  }

  .tab-dropdown {
    text-align: left;
    padding: 0;
    height: 28px;
  }

  .btn-group {
    .btn-group {
      .btn {
        border-radius: 0;

        &:first-of-type {
          border-left: 0 none;
        }
        &:last-of-type {
          border-right: 0 none;
        }
      }
    }
    .btn-group:last-child {
      .btn:last-of-type {
        @include border-right-radius( 4px );
        border-right: 1px solid #bbb;
      }
    }
  }
}
.first-tab-selected .header {
  @include border-radius(0 5px 0 0);
}

.btn.btn-primary {
  text-shadow: none;

  &:hover {
    background-color: #453E55;
  }
}

.hide {
	display: none;
}

.save-dropdown {
  li a {
    padding: 6px 20px;
  }
}

.dropdown-menu {
  li a {
    cursor: pointer;

    &:hover {
      text-shadow: 0px 1px #000;
    }
  }

  li.active a {
    &, &:hover {
      text-shadow: 0 1px #000;;
      color: #fff;
    }
  }

  li.disabled a {
    &:hover {
      text-shadow: none;
    }
  }
}

.breadcrumb {
	background-color: #eee;

	.dropdown-menu {
		li {
			display: block;
		}
	}
}

.btn .caret {
  margin-top: 5px;
}

.table-middle {
  td, th {
    vertical-align: middle;
  }
}

a.close {
  cursor: pointer;
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #FFF;
  opacity: 0.2;
  filter: alpha(opacity=20);

  &:hover {
    opacity: 0.75;
    text-decoration: none;
  }
}

#atlwdg-trigger {
	text-shadow: none;
}

.gdrive-modal {
	.loading {
		text-align: center;
		margin: 1em 0 3em 0;
		.icon-large {
			margin-top :2em;
			display: block;
			font-size: 160%;
		}
	}

	ul {
		text-shadow: none;
	}
}

.interface-select {
  width: 349px;
  height: 370px;
  overflow: auto;
}

.interface-preview {
  width: 450px;
  padding: 10px;
  height: 370px;
  overflow: auto;
}

$interface-entry-height: 35px;

.interface-entry {
  padding: 10px;
  background-color: #f3f5f6;
  border: 1px solid #ccc;
  border-top-width: 0;

  height: $interface-entry-height;

  @include transition( margin 0.10s );

  &:hover {
    background-color: #FAFCFD;
  }

  &.active {
    background-color: #FAFAF0;
  }

  strong {
    display: block;
    font-size: 120%;
    margin-bottom: 7px;
  }

  &:first-child {
    border-top-width: 1px;
    @include border-top-radius( 0.25em );
  }
  &:last-child{
    @include border-bottom-radius( 0.25em );
  }
}
