/*
 * S-BPM Groupware v1.2
 *
 * http://www.tk.informatik.tu-darmstadt.de/
 *
 * Copyright 2013 Telecooperation Group @ TU Darmstadt
 * Contact: Stephan.Borgert@cs.tu-darmstadt.de
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/.
 */

@import "defaults";
@import "variables";
@import "bootstrap";

body {
	font-family: Arial;
	font-size: 12px;
	color: #363636;
	text-shadow: 0 1px 0 #fff;
	background: #f7f7f7
}

h1 {
	margin: 0;
	padding: 0;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}
h2 {
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 1px;
}
h3 {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 1px;
	color: #F1F1F1
}
h4 {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
}

#header2 {
	width: 100%;
	height: 50px;
	background: #353c42;
	text-shadow: 1px 0 0 #666;
	color: #ccc;
	margin: 0;
	padding: 0;
	background-image: url(../images/bg_header.png);
	background-repeat: repeat-x;
}

#logo2 {
	width: 240px;
	float: left;
	margin: 15px 0 0 10px;
}

#content2 {
	width: 400px;
	text-align: left;
	margin: 0;
	padding: 0
}

#content {
	width: 100%;
	text-align: left;
	margin: 0;
	padding: 0
}

#content_wide {
	width: 800px;
	height: 500px;
	text-align: left;
	margin: 0;
	padding: 0;
}

#content_wide #inner_content {
	margin: 10px;
	width: 100%;
	height: 430px;
}

#left {
	width: 100px;
	float: left;
	border-right: 1px dotted #4B4F5D;
	height: inherit;
  padding-right: 7px;
}

#left li.selected {
	background-color: #4B4F5D;
}

#left li.selected a {
	color: #FFFFFF;
}

#right {
	margin: 10px;
	width: auto;
	float: left;
	height: 100%;
}

#right .inline{
	height: 23px;
	line-height: 23px;
	vertical-align: 10px;
}

#right .button{
	height: 30px;
	line-height: 15px;
	vertical-align: 11px;
	margin: 0 5px;
}

#right select{
	width: 300px;
}

#buttons {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.table-text {
	font-size: 130%;
	vertical-align: middle;
}


.scrollable {
	display: block;
	overflow: auto;
}

.datatable {
	width: 100%;
	padding: 2px;
	margin: 0;
	border-collapse : collapse; 
}

.datatable tr {	
	width: inherit;
}

.datatable th{
	font-weight: bold;
	font-size: 120%;
	line-height: 28px;
	padding-left: 4px;
	background-color: #BFC6CF;
	color: #000;
}

.datatable td {	
	padding: 4px 2px;
	vertical-align: middle;
}

.datatable tr:nth-child(1n+2) {
	background-color: #EAECED;
	color: #000;
}

.datatable tr:nth-child(2n+3) {
	background-color: #F7F7F7;
	color: #000;
}

.datatable .hover tr:hover {
	background-color: #4C535B;
	color: #fff;
}

