<div class="pull-left">
  <h2>Create new process</h2>
  <div class="flexbox">
    <form data-bind="submit: createProcess" class="span3" action="#">
      <div data-bind=" css: { error: showErrors } " class="control-group">
        <label for="new_process">Name</label>
        <input id="new_process" type="text" style="width:180px;" data-bind="value : processName, valueUpdate:'afterkeydown'" data-chardin-intro="Please specify a process name." data-chardin-position="bottom"/>
        <ul data-bind="foreach: processErrors" class="errors">
          <li data-bind="text: $data" ></li>
        </ul>
        <script type="text/javascript" charset="utf-8">
          document.getElementById("new_process").focus();
        </script>
      </div>
      <div>
      <label class="radio">
        <input type="radio" name="processType" value="process" data-bind="checked: processType"/>
        <span>Create Process</span> 
      </label>
      <label class="radio" >
        <input  type="radio" name="processType" value="case" data-bind="checked: processType"/>
        <span>Create Case</span>
      </label>
      <label class="checkbox">
        <input type="checkbox" name="Table" value="Table" data-bind="checked: displayTable, disable: isCase"/>
        <span>Use Table</span>
      </label>
    </form>
    </div>
    <div class="fluid">
      <div id="quick_table" data-bind="visible: displayTable"></div>
    </div>
  </div>
  <div class="form-actions">
    <input type="submit" value="Accept" data-bind="enable: processValid, click: createProcess" data-chardin-intro="When you're happy with your process, click accept." data-chardin-position="bottom"/>
    <input type="button" value="Cancel" onclick="history.back()"/>
  </div>
</div>
