<div id="graph_bv_outer" class="fluid" style="min-width: 1px; height: 100%; overflow:auto;"></div>

<div class="graphsettings">
	<fieldset class="clearfix">
		<legend>Behavior settings<span class="processSettingsTrigger">Hide</span></legend>

		<div class="toggle-able">
			<label class="graphsectionheader">Add states:</label>
			<input type="button" id="CreateNodeButton" data-bind="tooltip : 'Macro : Press &#34;A&#34;'" value="Add new state" onclick="gv_graph.createNode()"/>
			<input type="button" id="InsertSendNodeButton" data-bind="tooltip : 'Macro : Press &#34;1&#34;'" onclick="gf_callMacro('newSendNode');" value="Insert send state" />
			<input type="button" id="InsertReceiveButton" data-bind="tooltip : 'Macro : Press &#34;2&#34;'" onclick="gf_callMacro('newReceiveNode');" value="Insert receive state" />
			<input type="button" id="InsertActionNodeButton" data-bind="tooltip : 'Macro : Press &#34;3&#34;'" onclick="gf_callMacro('newActionNode');" value="Insert action state" />
			<br/>
			<input type="button" id="internalClearBehavior" value="Clear behavior" />
		</div>
	</fieldset>

	<fieldset data-bind="if: isEdgeSelected">
		<legend>Transition settings</legend>

		<label align="left" class="graphsectionheader">Transition Type</label>
		<div id="ge_edge_type_normal_outer" style="display:none;">
			<div id="internalRadioMenu">
				<label class="radio">
					<input type="radio" id="ge_edge_type_condition" name="ge_edge_type" />
					Exit Condition
				</label>

				<label class="radio">
					<input type="radio" id="ge_edge_type_exception" name="ge_edge_type" />
					Error Condition
				</label>

				<label class="radio">
					<input type="radio" id="ge_edge_type_timeout" name="ge_edge_type" />
					Timeout
				</label>
			</div>
		</div>

		<div id="ge_edge_type_boolean_outer" style="display:none;">
			<input type="radio" id="ge_edge_type_boolean_true" name="ge_edge_type" />
			<label align="left"  class="graphsectionheader">Yes</label>

			<input type="radio" id="ge_edge_type_boolean_false" name="ge_edge_type" />
			<label align="left"  class="graphsectionheader">No</label>
		</div>

		<div style="display:none;" id="ge_edge_typeEOuter">
			<label class="graphsectionheader">Exception:</label>
			<textarea id="ge_edge_exception_text" ></textarea>
		</div>

		<div style="display:none;" id="ge_edge_typeCOuter">
			<label class="graphsectionheader">Message Type:</label>
			<select id="ge_edge_message" >
				<option value="##createNew##" id="ge_edge_message_00000.new" selected>create a new message type</option>
			</select>

			<label class="graphsectionheader">Text:</label>

			<textarea id="ge_edge_text" ></textarea>

			<div id="ge_edge_target_outer" style="display:none;">
				<label class="graphsectionheader">Related Subject:</label>

				<select id="ge_edge_target" ></select>
				<div id="ge_edge_target_new_outer" style="display:none;">
					<label class="graphsectionheader">Name:</label>
					<input type="text" id="ge_edge_target_new_name"  />

					<label class="graphsectionheader">Role / User:</label>
					<select id="ge_edge_target_new_role" ></select>
				</div>

				<label class="graphsectionheader">Transport Method:</label>
				<select id="ge_edge_transportMethod" class="chosen" multiple="multiple" rows="4"></select>

				<div id="ge_edge_target_multi_outer" style="display:none;">
					<input type="radio" id="ge_edge_target_multi_type_all" name="ge_edge_target_multi_type">
					<label  class="graphsectionheader">All known subjects</label>
					<input type="radio" id="ge_edge_target_multi_type_limit" name="ge_edge_target_multi_type">
					<label  class="graphsectionheader">Limited # of subjects</label>
					<div id="ge_edge_target_multi_type_new_outer" style="display:none;">
						<input type="radio" id="ge_edge_target_multi_type_new" name="ge_edge_target_multi_type">
						<label  class="graphsectionheader">Create new Subjects</label>
					</div>
					<input type="radio" id="ge_edge_target_multi_type_var" name="ge_edge_target_multi_type">
					<label  class="graphsectionheader">load from Variable</label>
					<div id="ge_edge_target_multi_minmax_outer" style="display:none;">
						Min: <input type="text" id="ge_edge_target_multi_min" style="width:30px;">
						Max: <input type="text" id="ge_edge_target_multi_max" style="width:30px;">
					</div>
					<div id="ge_edge_target_multi_type_var_outer" style="display:none;">
						<select id="ge_edge_target_multi_variable" ></select>
						<div id="ge_edge_target_multi_variable_text_outer" style="display:none;">
							<label  class="graphsectionheader">new Variable:</label>
							<input type="text" id="ge_edge_target_multi_variable_text"  />
						</div>
					</div>
				</div>

				<div id="ge_edge_priority_outer" style="display:none; margin-top:20px;">
					<label class="graphsectionheader">Priority:</label>
					<input type="text" id="ge_edge_priority" value=""  />
				</div>
			</div>

			<div id="ge_edge_store_outer" style="display:none; margin-top:10px;">
				<label  class="graphsectionheader">Store Messages in Var:</label>
				<select id="ge_edge_store_variable" ></select>
				<div id="ge_edge_store_variable_new_outer" style="display:none;">
					<label  class="graphsectionheader">Create new var:</label>
					<input type="text" id="ge_edge_store_variable_new"  />
				</div>
			</div>
		</div>
		<div style="display:none;" id="ge_edge_typeTOuter">
			<label class="graphsectionheader">Timeout:</label>
			<input type="text" id="ge_edge_timeout" value=""  />
			<div id="ge_edge_timeoutExample"></div>

			<input type="checkbox" id="ge_edge_timeoutManual" />
			<label class="graphsectionheader">Manual</label>
		</div>
		<div style="display:none;" id="ge_edge_optionalO">
			<input type="checkbox" id="ge_edge_optional">
			<label align="left" class="graphsectionheader">Optional</label>
		</div>

		<div style="display:none; margin-bottom:20px;" id="ge_edge_correlationid_outer">
			<label align="left" class="graphsectionheader">Correlation ID:</label>
			<select id="ge_edge_correlationid" ></select>
		</div>

		<label class="graphsectionheader">Comment:</label>
		<textarea id="ge_edge_comment" ></textarea>


		<input type="button" id="UpdateEdgeButton" data-bind="tooltip : 'Macro : Press &#34;U&#34;'" onclick="gv_graph.updateEdge();" value="Update transition" />
		<input type="button" id="DeleteEdgeButton" data-bind="tooltip : 'Macro : Press &#34;D&#34;'" onclick="gv_graph.deleteEdge();" value="Remove transition" />
	</fieldset>

	<fieldset data-bind="if: isNodeSelected">
		<legend>State settings</legend>

		<div id="ge_node_start_node_outer" style="display:none;">
			<label class="checkbox">
				<input type="checkbox" id="ge_type_start" name="ge_type_start" />
				Startstate
			</label>
			<div id="ge_node_major_start_node_outer" style="display:none;">
				<label class="checkbox">
					<input type="checkbox" id="ge_node_major_start_node" />
					Major Startstate
				</label>
			</div>
		</div>

		<label class="graphsectionheader">Type:</label>
		<select id="ge_type2"></select>
		<input type="hidden" id="ge_id" value="" />

		<label class="graphsectionheader">Text:</label>
		<textarea id="ge_text" ></textarea>

		<div id="ge_node_variable_outer" style="display:none; margin-top:10px;">
			<label class="graphsectionheader">Variable:</label>
			<select id="ge_node_variable" ></select>
		</div>

		<div id="ge_node_macro_outer" style="display:none; margin-top:10px;">
			<label class="graphsectionheader">Macro:</label>
			<select id="ge_node_macro" ></select>
			<div id="ge_node_macro_new_outer" style="display:none;">
				<label class="graphsectionheader">New Macro:</label>
				<input type="text" id="ge_node_macro_new"  />
			</div>
		</div>

		<div id="ge_node_conversation_outer" style="display:none; margin-top:10px;">
			<label class="graphsectionheader">conversation:</label>
			<select id="ge_node_conversation" ></select>
			<div id="ge_node_conversation_new_outer" style="display:none;">
				<label class="graphsectionheader">New conversation:</label>
				<input type="text" id="ge_node_conversation_new"  />
			</div>
		</div>

		<div id="ge_node_options_outer" style="display:none;">
			<div class="graphsectionheader" style="width:100%; text-align:left; font-style:italic; padding-left:5px;">Options:</div>

			<div id="ge_node_opt_messageOuter" style="display:none;">
				<label class="graphsectionheader">Message Type:</label>
				<select id="ge_node_opt_message" ></select>
			</div>
			<div id="ge_node_opt_subjectOuter" style="display:none;">
				<label class="graphsectionheader">Subject:</label>
				<select id="ge_node_opt_subject" ></select>
			</div>
			<div id="ge_node_opt_correlation_id_outer" style="display:none;">
				<label class="graphsectionheader">Correlation ID:</label>
				<select id="ge_node_opt_correlation_id" ></select>
			</div>
			<div id="ge_node_opt_conversation_outer" style="display:none;">
				<label class="graphsectionheader">conversation:</label>
				<select id="ge_node_opt_conversation" ></select>
			</div>
			<div id="ge_node_opt_state_outer" style="display:none;">
				<label class="graphsectionheader">State:</label>
				<select id="ge_node_opt_state" ></select>
			</div>
		</div>

		<div id="ge_node_varman_outer" style="display:none;">
			<label class="graphsectionheader">Variable Manipulation:</label>
			<select id="ge_node_varman_var1" ></select>
			<select id="ge_node_varman_operation" style="width:100px;"></select>
			<select id="ge_node_varman_var2" ></select>

			<label class="graphsectionheader">=:</label>
			<select id="ge_node_varman_store" ></select>
			<div id="ge_node_varman_store_new_outer" style="display:none;">
				<label class="graphsectionheader">New Var:</label>
				<input type="text" id="ge_node_varman_store_new"  />
			</div>

		</div>

		<label class="graphsectionheader">Comment:</label>
		<textarea id="ge_node_comment" ></textarea>


		<input type="button" id="UpdateNodeButton" data-bind="tooltip : 'Macro : Press &#34;A&#34;'" onclick="gv_graph.updateNode();" value="Update state" />
		<input type="button" id="ConnectNodeButton" data-bind="tooltip : 'Macro : Press &#34;C&#34;'" onclick="gv_graph.connectNodes();" value="Connect state" />
		<input type="button" id="DeleteNodeButton" onclick="gv_graph.deleteNode();" value="Delete state" />
	</fieldset>
</div>

