/*

This stylesheet provides some sample styles to use with Freeow! You may use
these in your project or create your own! If you plan to make your own!

For my samples, I'm assuming that you will call freeow() on a container with
the class .freeow applied to it.

The default template function produces markup matching this outline:

	div (classes passed in options get applied here)
		div.background
			div.content
				h2
				p
		span.icon
		span.close
		
Don't forget: You can make your template function if this markup doesn't work
for your project. The function must accept the title and message as arguments
and return a DOM element (the message box). 

Update $.fn.freeow.defaults.template or pass the function as the template
member of the options object when calling freeow().
		
*/


/* Boilerplate -------------------------------------------------------------- */

/* Outermost Container */
.freeow {
    position: fixed;
    width: 300px;
    z-index: 9999;  
}
.freeow-top-right {
    top: 10px;
    right: 10px; 
}
.freeow-bottom-right {
    bottom: 10px;
    right: 10px; 
}

/* Message */
.freeow > div {
    position: relative;
    margin-bottom: 5px;
	cursor: pointer;
}
.freeow .content {
    margin: 5px 5px 5px 69px;
}
.freeow h2,
.freeow p {
    margin: 0;
    padding: 0;

}
.freeow .icon {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    top: 8px;
    left: 10px;
    background: transparent url(../images/freeow/notice-icon.png) no-repeat 0 0;
    z-index: 1;
}
.freeow .close {
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
    top: 8px;
    left: 8px;
    background: none;
    z-index: 2;
}
.freeow div:hover .close {
    background: transparent url(../images/freeow/close.png) no-repeat 0 0;
}

/* Icons */
.freeow .error .icon   { background-image: url(../images/freeow/error-icon.png); }
.freeow .ok .icon { background-image: url(../images/freeow/ok-icon.png); }
.freeow .notice .icon { background-image: url(../images/freeow/notice-icon.png); }

/* Specific Styles ---------------------------------------------------------- */

/* Gray */
.freeow {
	color: black;
}
.freeow  .background {
	border: 3px solid #eee;
    -moz-border-radius: 12px;
	border-radius: 12px;
    background: #eee;
	opacity: 1.0;
    -moz-box-shadow: 2px 2px 3px #888;
    -webkit-box-shadow: 2px 2px 3px #888;
    box-shadow: 2px 2px 3px #888;
}
.freeow:hover .background {
    border-color: #009bc5;
}
.freeow.content {
    margin: 5px 5px 5px 69px;
}
.freeow h2 {
	color: black;
    font-family: "Lucida Grande", Helvetica, arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}
.freeow p {
    padding-top: 8px;
    font-family: Helvetica, arial, sans-serif;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
}
