<div>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Test case</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Rebuild Database</td>
        <td><input type="button" class="button" value="Execute" data-bind='click: rebuildDatabase' /></td>
      </tr>
    </tbody>
  </table>
  <br>
  <br>

    <div class="alert alert-block">
      <strong>Warning:</strong>
      <p>
        Executing these actions can result in the deletion of Users / Roles /
        Processes and the loss of unsaved data.
      </p>
    </div>
</div>
