<div>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Property</th>
				<th>Value</th>
			</tr>
		</thead>
		<tbody data-bind="foreach: {data : dataForUI()}">
			<tr>
				<td><span data-bind='text: label'></span></td>
				<td data-binding="html : html"></td>
			</tr>
		</tbody>

	</table>
	<div class="form-actions">
		<input type="button" value="Save" data-bind="click: save"/>
	</div>
</div>
