<div>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th width="70">ID</th>
				<th>Group</th>
				<th width="300" >Actions</th>
			</tr>
		</thead>
		<tbody id="listOfGroups" data-bind="foreach: groups">
			<tr>
				<td data-bind="text: id"></td>
				<td>
					<input type="text" class="inline" data-bind="value: name, valueUpdate:'afterkeydown'" />
				</td>
				<td>
					<input type="button" class="button" value="Delete" data-bind="click: $parent.remove" />
					<input type="button" class="button" value="Save changes"
					data-bind="click: $parent.save, visible: hasChanged" />
					<input type="button" class="button" value="Reset"
					data-bind="click: $parent.reset, visible: hasChanged" />
				</td>
			</tr>
		</tbody>
	</table>
	<input type="button" class="button" value="Create Group" data-bind="click: create" />

	<div class="form-actions">
		<input type="button" class="button" value="Reset" data-bind="click: resetAll" />
		<input type="button" class="button" value="Save" data-bind="click: saveAll" />
	</div>
</div>
