<div>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Group</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody id="listOfRoles" data-bind="foreach: roles">
			<tr data-bind="attr: { id: 'role'+ id() }">
				<td data-bind="text: id"></td>
				<td>
					<input type="text" class="inline" data-bind='value: name' />
				</td>
				<td>
					<select data-bind="options: $parent.groups,
						optionsText: 'name', optionsValue : 'id',
						selectedOptions: groupIds"
						class="chzn-select" multiple="multiple">
					</select>
				</td>
				<td>
					<input type="button" class="button" value="Delete" data-bind='click: $parent.remove' />
					<input type="button" class="button" value="Save changes" data-bind='click: $parent.save' />
					<input type="button" class="button" value="Reset" data-bind='click: $parent.reset' />
				</td>
			</tr>
		</tbody>
	</table>

	<input type="button" class="button" value="Create Role" data-bind='click: create' />

	<div class="form-actions">
		<input type="button" class="button" value="Reset" data-bind="click: resetAll" />
		<input type="button" class="button" value="Save" data-bind="click: saveAll" />
	</div>
</div>

